train_path = RUN_FILES/prepare_data/33att/train.json
valid_path = RUN_FILES/prepare_data/33att/dev.json.test
save_path = RUN_FILES/train_33att/main
init_eval = False
save_optimizer = False
train_log_iter = 1
final_eval = True
train_batch_size = 10
epochs = 10
neg_entity_count = 5
neg_relation_count = 100
lr = 5e-06
lr_warmup = 0.1
weight_decay = 0.01
max_grad_norm = 1.0
iou_spn = 0.7
iou_classifier = 1.0
iou_weight = True
offset_loss = smoothl1loss
filter_loss = focalloss
entity_loss = focalloss
giou_loss = giouloss
filter_gamma = 2
entity_gamma = 2
offset_loss_weight = 1.0
filter_loss_weight = 1.0
entity_loss_weight = 1.0
giou_loss_weight = 1.0
iou_gamma = 1.0
config = RUN_FILE/train_33att/dummy.conf
types_path = RUN_FILES/train_33att/33att_types.json
tokenizer_path = bert-base-uncased
window_size = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lowercase = False
sampling_processes = 0
label = example_train
log_path =  RUN_FILES/train_33att/log
store_predictions = True
store_examples = True
example_count = None
debug = False
device_id = 1
model_path = bert-base-uncased
model_type = identifier
cpu = False
eval_batch_size = 4
size_embedding = 25
prop_drop = 0.5
freeze_transformer = False
no_overlapping = False
nms = 0.45
lstm_drop = 0.2
lstm_layers = 1
pos_size = 25
spn_filter = 5.0
char_lstm_layers = 1
char_size = 50
char_lstm_drop = 0.2
use_glove = True
use_pos = True
use_char_lstm = True
pool_type = max
use_entity_ctx = True
wordvec_path = yd_data/glove.6B.100d.txt
use_size_embedding = False
reduce_dim = True
bert_before_lstm = True
no_filter = False
no_regressor = False
norm = sigmoid
no_times_count = False
seed = 47
cache_path = None
